@use "../../styles/variables" as *;

.historical-dates {
    position: relative;
    max-width: $wide;
    margin: 0 auto;
    padding: $wrapperPaddingTop $wrapperPaddingLeftRight $wrapperPaddingBottom;
    background-color: $background-color;
    font-family: $font-primary;
    border-right: 1px solid rgba($primary-color, 0.1);
    border-left: 1px solid rgba($primary-color, 0.1);

    &__title {
        position: absolute;
        top: $wrapperPaddingTop;
        font-size: $h2;
        font-weight: 700;
        line-height: $lineHeight;
        color: $primary-color;
        max-width: 353px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            top: 0;
            left: calc($wrapperPaddingLeftRight * -1);
            width: 5px;
            background: linear-gradient(180deg, $accent-color -5%, $pink-color 85%);
        }
    }

    &__container {
        position: relative;
        margin-bottom: 94px;
        margin-top: 45px;

        &::after {
            content: '';
            position: absolute;
            left: calc($wrapperPaddingLeftRight * -1);
            right: calc($wrapperPaddingLeftRight * -1);
            top: 50%;
            height: 1px;
            background: rgba($primary-color, 0.1);
            transform: translateY(-50%);
        }
    }

    &__circle-wrapper {
        position: relative;
        width: 530px;
        height: 530px;
        margin: 0 auto;
        z-index: 11;
    }

    &__circle-border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgba($primary-color, 0.2);
        border-radius: 50%;
    }

    &__points-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__point {
        position: absolute;
        width: 56px;
        height: 56px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &-inner {
            position: relative;
            width: 6px;
            height: 6px;
            background-color: $primary-color;
            border-radius: 50%;
            margin: 25px auto;
            transition: all 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 0%;
                height: 0%;
                border: 1px solid rgba($primary-color, 0.5);
                border-radius: 50%;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }

        &-number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: $pL;
            font-weight: 400;
            color: $primary-color;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &-label {
            position: absolute;
            top: 50%;
            left: calc(100% + 20px);
            transform: translateY(-50%);
            font-size: $h4;
            font-weight: 700;
            color: $primary-color;
            white-space: nowrap;
            pointer-events: none;
            opacity: 0;
            transition: all 0.5s ease;
            z-index: 3;
            text-align: center;
        }

        &:hover,
        &.active {
            .historical-dates__point-inner {
                width: 56px;
                height: 56px;
                background-color: $background-color;
                margin: 0;

                &::after {
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                }
            }

            .historical-dates__point-number {
                opacity: 1;
            }
        }

        &.active {
            .historical-dates__point-label {
                opacity: 1;
                font-weight: 700;
            }
        }
    }

    &__years {
        position: absolute;
        top: 50%;
        left: calc(50% - 3%);
        transform: translate(-50%, -50%);
        display: flex;
        gap: 85px;
        align-items: center;
        pointer-events: none;
    }

    &__start-year,
    &__end-year {
        font-size: $h1;
        font-weight: 700;
        line-height: $lineHeightL;
        letter-spacing: -0.02em;
        text-align: center;
    }

    &__start-year {
        color: $blue-color;
    }

    &__end-year {
        color: $pink-color;
    }

    &__controls {
        position: absolute;
        bottom: -40px;
        left: 0px;
        display: inline-block;
    }

    &__pagination {
        font-size: $pM;
        color: $primary-color;
        margin-bottom: $gapMd;
        font-weight: 400;
        line-height: 1;
    }

    &__nav {
        display: flex;
        gap: $gapMd;
    }

    &__nav-btn {
        width: 50px;
        height: 50px;
        border: 1px solid rgba($primary-color, 0.5);
        border-radius: 50%;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        svg {
            stroke: $primary-color;
            width: 9px;
            height: 14px;
        }

        &:hover {
            background: $white;
        }

        &--disable {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 1px;
        background: rgba($primary-color, 0.1);
        transform: translateX(-50%);
    }


    &__slider-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin-top: 80px;
    }

    &__loading-spinner {
        width: 40px;
        height: 40px;
        border: 3px solid rgba($primary-color, 0.1);
        border-top: 3px solid $primary-color;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: $tablet) {
    .historical-dates {



        &::before {
            content: none;
        }

        border-right: 0;
        border-left: 0;

        &__title {
            position: static;
            max-width: 125px;

            &::after {
                content: none;
            }
        }

        &__container {
            position: relative;
            margin-top: $wrapperPaddingTop;
            margin-bottom: 57px;

            &::after {
                content: none;
            }
        }

        &__circle-wrapper {
            position: relative;
            width: 100%;
            height: auto;
            margin: 0 auto;
            z-index: 11;

        }

        &__years {
            position: static;
            transform: none;
            gap: 20px;
            justify-content: space-between;
        }

        &__controls {
            position: static;
        }

        &__nav-btn {
            width: 25px;
            height: 25px;

            svg {
                width: 5px;
                height: 9px;

                path {
                    stroke-width: 30%;
                }
            }
        }
    }
}