// Цвета
$primary-color: #42567A;
$blue-color: #5D5FEF;
$pink-color: #EF5DA8;
$accent-color: #3877EE;
$background-color: #F4F5F9;
$white: #FFFFFF;

// Брейкпойнты
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1440px;

// Шрифты
$font-primary: 'PT Sans', Arial, sans-serif;
$font-bebas: 'Bebas Neue', sans-serif;


//фонт 
$h1: 200px;
$h2: 56px;
$h3: 25px;
$h3: 20px;

$pL: 20px;
$pM: 14px;
$pS: 12px;

//line heights
$lineHeight: 1.2;
$lineHeightM: 1.4;
$lineHeightL: 1.6;
$lineHeightXL: 1.8;

//падинг глобал
$wrapperPaddingLeftRight: 80px;
$wrapperPaddingTop: 170px;
$wrapperPaddingBottom: 100px;
$wrapperPaddingInside: 56px;