@use "../../styles/variables" as *;

.event-slider {
    position: relative;
    transition: padding 0.3s ease;
    
    &__swiper {
      overflow: hidden;
      margin-right: $wrapperPaddingLeftRight;
    }
    
    &__slide {
      height: auto;
      transition: transform 0.3s ease;
    }
    
    &__year {
      font-size: $h3;
      font-weight: 400;
      line-height: 1.2;
      color: $accent-color;
      margin-bottom: 15px;
      font-family: $font-bebas;
      transition: font-size 0.3s ease, margin 0.3s ease;
    }
    
    &__description {
      font-size: $pL;
      font-weight: 400;
      line-height: 1.5;
      color: $primary-color;
      transition: font-size 0.3s ease;
    }
    
    &__nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $white;
      box-shadow: 0 0 15px 0 rgba($primary-color, 0.1);
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      transition: all 0.3s ease;

      svg{
        stroke:$accent-color;
        width: 7px;
        height: 12px;
      }
      
      &:hover {
        box-shadow: 0 0 20px 0 rgba($primary-color, 0.2);
      }
      
      &:disabled {
        opacity: 0;
        cursor: not-allowed;
      }
      
      &--prev {
        left: calc($wrapperPaddingLeftRight / -1.4);
        transition: left 0.3s ease;
      }
      
      &--next {
        right: calc($wrapperPaddingLeftRight / -2);
        transition: right 0.3s ease;
      }
    }

    .swiper-slide{
      transition: left 0.3s ease;
    }
    
    .swiper-button-disabled {
      opacity: 0;
    }
  }
  

  @media (max-width: $tablet) {
    .event-slider {
      padding-top: 20px;
      border-top: 1px solid rgba($primary-color, 0.1);
      margin-bottom: $wrapperPaddingBottom;
      
      &__nav {
        display: none;
      }

      &__swiper {
        margin-right: calc($wrapperPaddingLeftRight / -1);
      }
      
      &__slide {
        opacity: 0.5;
      }
      
      .swiper-slide-active{
        opacity: 1;
      }
    }
  }